* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(210, 46%, 95%);
  /* The body takes the full Viewport */
  width: 100vw;
  height: 100vh;
  /* -------------------------------*/
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  position: relative;
}
.container {
  width: 1084px;
  height: 563px;
  /* Centering the container Horizontally & Vertically */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Laying out the container as a Grid */
  display: grid;
  grid: repeat(2, 1fr) / repeat(4, 1fr);
  grid-template-areas:
    "card1 card1 card2 card5"
    "card3 card4 card4 card5";
  gap: 25px;
}
.card {
  padding: 26px 31px;
  border-radius: 10px;
}
.card1 {
  grid-area: card1;
  color: white;
  background: url(../images/bg-pattern-quotation.svg) no-repeat 80% 0;
  background-color: hsl(263, 55%, 52%);
}
.card2 {
  grid-area: card2;
  background-color: hsl(217, 19%, 35%);
  color: white;
}
.card3 {
  grid-area: card3;
  background-color: white;
}
.card3 h2 {
  color: hsl(217, 19%, 35%);
}

.card4 {
  grid-area: card4;
  background-color: hsl(219, 29%, 14%);
  color: white;
}
.card5 {
  grid-area: card5;
  background-color: white;
}
.card5 h2 {
  color: hsl(217, 19%, 35%);
}
/* styling the profile's photos */
.card-head img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 2px solid rgb(178, 135, 248);
  margin-right: 20px;
}
/* Lay out the profile's photo and the name */
.card-head {
  display: flex;
}
h2 {
  margin: 15px auto;
}
.name {
  font-weight: 500;
}
.verified {
  opacity: 50%;
}

blockquote {
  opacity: 70%;
  line-height: 1.4;
}
/* Layout for devices with screen's width less then 375px */
@media screen and (max-width: 375px) {
  .container {
    width: 100%;
    height: auto;
    display: block;
    position: initial;
    transform: initial;
    padding: 25px 0;
  }
  .card {
    width: 85%;
    margin: 25px auto;
  }
}
